
/*Header*/ 

.title {
	font-size: 5.5em;
	font-weight: 700; 
  color: #fff;
  text-shadow: 0 1px 0 #000; 
  text-align: center;
  font-family: 'Droid Serif', serif;
}

/*Text on photo */

.module {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(/Photos/seniorcoffee.jpeg);
  background-size: cover;
  width: 100%;
  height: 400px;
  position: relative;
  margin: 0;
}

.writeButton{
  margin: 0 auto;
  display: block;
  color: #fff;
}

.title h1 {
  color: white;
  margin: 0;
  padding: 20px;
  font-family: 'Droid Serif', serif;
  font-weight: 700;
}

/*Articles */

body {
  margin: 0;
  font-family: 'Adelle', serif; 
  font-size: 2em;
}

/* { box-sizing: border-box; }*/

h1, h2, h3, h4, h5, h6 {
  font-family: Lato, Helvetica Neue, Arial, sans-serif;
}

h1 {
  color: #000000;
  font-weight: 700;
  font-size: 4em;
  margin: 1em 0 0.125em;
}

h1 + p {
  margin-top: 1.75em;
}

h2 {
	font-size: 3em;
  font-weight: 300; 
  font-color: blue;
  margin: 1em 0 0.125em;
}

h3 {
  font-size: 2em;
}

.container {
  max-width: 700px;
  margin: auto;
} 

article.main {
  margin: 1em 0;
}

.post-meta {
  display: flex;
  font: 18px/125% Lato, Helvetica Neue, Arial, sans-serif;
  margin-bottom: 20px;
}

.post-info > p {
  margin: 5px 0;
}

.author-name{
  font-weight: 700;
  color: #00ab6b;
  text-decoration: none;
}
.author-name:hover, .author-name:active {
  color: #1c9963;
}

p, ul > li, ol > li {
  margin: 0 0 0.75em;
}

blockquote {
  margin-left: -1em;
  margin-right: -1em;
  border-left: 4px solid #ababab;
  padding: 0.25em 0.75em;
  font-size: 150%;
}
blockquote > cite {
  display: block;
  margin-top: 1.5em;
  font-variant: italics;
  font-size: 16px;
  color: #ababab;
}

pre {
  display: block;
  padding: 0.5em;
  background-color: #ebebeb;
}

.image-p > img {
  display: block;
  max-width: 100%;
}

.image-p > .caption {
  display: block;
  width: 100%;
  font-size: 80%;
  border-bottom: 1px solid #ababab;
  color: #5b5b5b;
}

article a, article a:link {
  color: #000;
}

article a:visited {
  color: #444;
}

article a:hover, article a:active {
  color: #a0a0a0;
}


.badge {
  font-size: 16px;
}
/*BUTTONS */

.bottomButton {
  margin: 1em 0 0.125em;
}

.btn-xl {
  background-color: #004D40;
  box-shadow: 3px 3px 3px #95a5a6;
  padding: 12px 70px;
  font-size: 22px;
  color: #fff;
  line-height: normal;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.btn-xl a{
  color: #fff;
  text-decoration: none;
  background-color #95a5a6;
}

/*NAVBAR */

.navbar-default{
  opacity: 0.7;
  color: #fff;
  background-color: #004D40; 
  font-size: 0.9em;
}

.navbar-default:hover {
  opacity: 1.0;
}

 .navbar-brand {
    color: #000;
    font-size: 1.7em;
    font-weight: 700;
}

.navbar-default .navbar-nav>li>a {
    font-family: Lato, Helvetica Neue, Arial, sans-serif;
    font-size: 0.9em;
}

.search{
  float: right;
}

/*FOOTER*/ 

.footer-distributed{
  background-color: #004D40;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font-size: 1em;
  padding: 20px 15px;
  margin-top: 15px;
}

.footer-distributed a:hover{
  color: #663399;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
}

/* The company logo */

.footer-distributed h3{
  color: #fff;
  font-size: 36px; 
  margin: 0;
}

.footer-distributed h3 span{
  color: #fff;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #00000;
  margin: 15px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1px;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #fff;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #FFF172;
  color: #fff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #fff;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  #1e0f2d;
  text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #fff;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #fff;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
  color: #663399;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 2px;
  font-size: 20px;
  color: #000000;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}

.fa-icon{
  height: 30px;
  width: 30px;
  color: #fff;
}