
/*//Header*/ 

.title {
	font-size: 5em;
	font-weight: 700; 
  color: white;
  text-align: center;
}


/*//Testing text on photo */

.module {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(/Photos/seniorcoffee.jpeg);
  background-size: cover;
  width: 100%;
  height: 400px;
  position: relative;
  margin: 0;
}

.title h1 {
  color: white;
  margin: 0;
  padding: 20px;
}

/*Articles */

body {
  margin: 0;
  font: normal 18px Lucida Grande, Georgia, serif;
  font-size: 1.5em;
}

/* { box-sizing: border-box; }*/

h1, h2, h3, h4, h5, h6 {
  font-family: Lato, Helvetica Neue, Arial, sans-serif;
}

h1 {
  color: #000000;
  font-weight: 700;
  font-size: 4em;
  margin: 1em 0 0.125em;
}

h1 + p {
  margin-top: 1.75em;
}

h2 {
	font-size: 3em;
  font-weight: 300; 
  font-color: blue;
  margin: 1em 0 0.125em;
}

h3 {
  font-size: 2em;

}

.container {
  max-width: 700px;
  margin: auto;
} 

article.main {
  margin: 1em 0;
}

.post-meta {
  display: flex;
  font: 18px/125% Lato, Helvetica Neue, Arial, sans-serif;
  margin-bottom: 20px;
}

.post-info > p {
  margin: 5px 0;
}

.author-name{
  font-weight: 700;
  color: #00ab6b;
  text-decoration: none;
}
.author-name:hover, .author-name:active {
  color: #1c9963;
}

p, ul > li, ol > li {
  margin: 0 0 0.75em;
}

blockquote {
  margin-left: -1em;
  margin-right: -1em;
  border-left: 4px solid #ababab;
  padding: 0.25em 0.75em;
  font-size: 150%;
}
blockquote > cite {
  display: block;
  margin-top: 1.5em;
  font-variant: italics;
  font-size: 16px;
  color: #ababab;
}

pre {
  display: block;
  padding: 0.5em;
  background-color: #ebebeb;
}

.image-p > img {
  display: block;
  max-width: 100%;
}

.image-p > .caption {
  display: block;
  width: 100%;
  font-size: 80%;
  border-bottom: 1px solid #ababab;
  color: #5b5b5b;
}

article a, article a:link {
  color: #000;
}

article a:visited {
  color: #444;
}

article a:hover, article a:active {
  color: #a0a0a0;
}

.bottomButton {
margin: 1em 0 0.125em;
}