  
    <div class="row">
        <h1>Register</h1>
        
        <form ng-submit="signup()">
          <div class="col-md-4"> Username: <input type="text" ng-model="signupForm.username" placeholder="Username"/> </div>
           <div class="col-md-4"> Email:  <input type="email" ng-model="signupForm.email" placeholder="Email"> </div>
            <div class="col-md-4"> Password: <input type="password" ng-model="signupForm.password" placeholder="Password"/> </div>
            <div> <input type="submit"/> </div>
        </form>
    </div> 
    <div class="row">    
        <h1>Existing Users</h1>
           
        <form ng-submit="login()">
            <div class="col-md-6"> Username: <input type="text" ng-model="loginForm.username" placeholder="Username"/> </div>
            <div class="col-md-6"> Password:  <input type="password" ng-model="loginForm.password" placeholder="Password"/> </div>
            <input type="submit"/>
        </form>
    </div>

    <div class="header">
        <h3><i>A Place for Seniors to Tell Their Stories</i> </h3>
    </div>

     