<link rel="stylesheet" type="text/css" href="/CSS/storySubmit.css">
<div class="whiteSpace"> </div>
<div ng-controller="storyController">
	
	<div class="submit">
	<h1> Create a Story Here: </h1>

	<form ng-submit="storySubmit()"> 
		<div class="form-group">
		<label for="exampleName"> Name: </label>
		<input ng-model="storyForm.author" type="name" class="form-control" id="exampleName" placeholder="Name">
		</div>

		<div class="form-group">
		<label for="exampleTitle"> Title: </label>
		<input ng-model="storyForm.title" type="title" class="form-control" id="exampleTitle" placeholder="Title">
		</div>

		<div class="form-group">
		<div> <label for="exampleStory"> Write Story Here: </label> </div>
		<textarea ng-model="storyForm.body" class="story-form" rows="3"></textarea>
		</div>
		<div class="text-center">
		<button type="submit" class="btn btn-xl"> Submit </button>
		</div>
	</form>
	</div>
<!-- SIGN UP AND DONATE  -->

	<h2> Please Donate to Our Cause! </h2>


	<div class="text-center">
		<button class="btn btn-xl" type="submit">Donate! </button>
	</div>

</div>